/**
 * Masonry layout for the Gutenberg block editor.
 *
 * Solution source: https://tobiasahlin.com/blog/masonry-with-css/
 *
 * To use it:
 * 1. Install and activate plugin
 * 2. Add a 'masonry-grid' class to the three column post grid container
 *
 */
@media (min-width: 601px) {
    .masonry-grid .is-layout-grid {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        max-width: 1100px;
        height: 2500px;
        counter-reset: items;
    }

    .wp-block-post {
        width: 32%;
        display: flex;
    }

    /* Re-order items into rows */
    .wp-block-post:nth-child(3n+1) {
        order: 1;
    }

    .wp-block-post:nth-child(3n+2) {
        order: 2;
    }

    .wp-block-post:nth-child(3n) {
        order: 3;
    }

    /* Force new columns */
    .masonry-grid .is-layout-grid::before,
    .masonry-grid .is-layout-grid::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }
}